# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache
*.egg-info/
dist/
build/
.eggs/
*.sqlite3
*.log
logs/

# Environment
.env
.env.local
.env.*.local

# Virtual environments
venv/
.venv/
env/

# Node / React
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
backend/package-lock.json
backend/package.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

.vs/

